body {
  padding: 10px;
  text-align: center;
  font-family: 'Muli', sans-serif;
  background-color: rgb(94, 12, 80);
}

h1, h2 {
  font-family: 'Prata', serif;
  text-align: center;
}
#board{
  margin: 0 auto;
}

#container {
  display: inline-block;
  background-color: #fff;
  text-align: center;
  width: 800px;
  height: 700px;
}

#container p {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding: 15px;
}

#board td{
  border: 1px solid #ddd;
  width: 18px;
  height: 18px;
}

td.alive {
  background-color: rgb(221, 74, 162);
}

td.dead {
  background-color: #fff;
}

#control_panel {
  margin: 10px auto;
  text-align: center;
}